**2. Realice lo mismo del inciso anterior con el uso de numpy y pandas**

In [1]:
import pandas as pd
dat = pd.read_csv("./bank.csv")
dat.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59.0,admin.,married,secondary,no,2343.0,yes,no,unknown,5.0,may,1042.0,1,-1,0,unknown,yes
1,56.0,admin.,married,secondary,no,45.0,no,no,unknown,5.0,may,1467.0,1,-1,0,unknown,yes
2,41.0,technician,married,secondary,no,1270.0,yes,no,unknown,5.0,may,1389.0,1,-1,0,unknown,yes
3,55.0,services,married,secondary,no,2476.0,yes,no,unknown,5.0,may,579.0,1,-1,0,unknown,yes
4,NaN,admin.,married,tertiary,no,NaN,no,no,unknown,5.0,may,673.0,2,-1,0,unknown,yes

In [2]:
columnas_seleccionadas = dat.iloc[:, [0, 5, 9, 11, 12, 13, 14]]
datos = columnas_seleccionadas.to_numpy()

# **Pandas**

In [3]:
import pandas as pd
num_cols = dat.iloc[:, [0, 5, 9, 11, 12, 13, 14]]
medias = num_cols.mean()
moda = num_cols.mode().iloc[0]

q1 = num_cols.quantile(0.25)
q2 = num_cols.quantile(0.50)
q3 = num_cols.quantile(0.75)

p25 = num_cols.quantile(0.10, interpolation='nearest')
p75 = num_cols.quantile(0.90, interpolation='nearest')

# Media con Pandas

In [4]:
# media
print('\tMEDIA')
print(medias)

	MEDIA
age           41.233306
balance     1529.332288
day           15.656841
duration     371.996954
campaign       2.508421
pdays         51.330407
previous       0.832557
dtype: float64

# Moda con Pandas

In [5]:
# moda
print('\tMODA')
print(moda)

	MODA
age         31.0
balance      0.0
day         20.0
duration    97.0
campaign     1.0
pdays       -1.0
previous     0.0
Name: 0, dtype: float64

# Cuartil con Pandas

In [6]:
# cuartil
print('\tCUARTIL')
print(q1)
print(40*'-')
print(q2)
print(40*'-')
print(q3)

	CUARTIL
age          32.0
balance     123.0
day           8.0
duration    138.0
campaign      1.0
pdays        -1.0
previous      0.0
Name: 0.25, dtype: float64
----------------------------------------
age          39.0
balance     551.0
day          15.0
duration    255.0
campaign      2.0
pdays        -1.0
previous      0.0
Name: 0.5, dtype: float64
----------------------------------------
age           49.00
balance     1709.25
day           22.00
duration     496.00
campaign       3.00
pdays         20.75
previous       1.00
Name: 0.75, dtype: float64

# Percentil con Pandas

In [7]:
# percentil
print('\tPERCENTIL')
print(p25)
print(40*'-')
print(p75)

	PERCENTIL
age         28.0
balance      0.0
day          4.0
duration    77.0
campaign     1.0
pdays       -1.0
previous     0.0
Name: 0.1, dtype: float64
----------------------------------------
age           58.0
balance     3902.0
day           28.0
duration     838.0
campaign       5.0
pdays        191.0
previous       3.0
Name: 0.9, dtype: float64

# **Numpy**

In [8]:
from scipy import stats
import numpy as np

nombre_colum = ['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']

# Media con Numpy

In [9]:
med = np.nanmean(datos, axis=0)

max_longitud = max(len(nombre) for nombre in nombre_colum)
for i in range(7):
    formato = "{{:<{}}} : {{:<10.6f}}".format(max_longitud)
    print(formato.format(nombre_colum[i], med[i]))

age      : 41.233306
balance  : 1529.332288
day      : 15.656841
duration : 371.996954
campaign : 2.508421
pdays    : 51.330407
previous : 0.832557

# Moda con Numpy

In [10]:
mod = stats.mode(datos, axis=0, nan_policy='omit')

max_longitud = max(len(nombre) for nombre in nombre_colum)
for i in range(len(mod[0])):
    formato = "{{:<{}}} : {{:<10.2f}}".format(max_longitud)
    print(formato.format(nombre_colum[i], mod[0][i]))

age      : 31.00
balance  : 0.00
day      : 20.00
duration : 97.00
campaign : 1.00
pdays    : -1.00
previous : 0.00

# Cuartiles con Numpy

In [11]:
cuartil = np.nanpercentile(datos, [25, 50, 75], axis=0)
for i in range(7):
    print(nombre_colum[i])
    print("   Q1: " + str(cuartil[0][i]))
    print("   Q2: " + str(cuartil[1][i]))
    print("   Q3: " + str(cuartil[2][i]) + "\n")

age
   Q1: 32.0
   Q2: 39.0
   Q3: 49.0

balance
   Q1: 123.0
   Q2: 551.0
   Q3: 1709.25

day
   Q1: 8.0
   Q2: 15.0
   Q3: 22.0

duration
   Q1: 138.0
   Q2: 255.0
   Q3: 496.0

campaign
   Q1: 1.0
   Q2: 2.0
   Q3: 3.0

pdays
   Q1: -1.0
   Q2: -1.0
   Q3: 20.75

previous
   Q1: 0.0
   Q2: 0.0
   Q3: 1.0

# Percentil con Numpy

In [12]:
percentil = np.nanpercentile(datos, [10, 90], axis=0)
div = [10, 90]
for i in range(7):
    print(nombre_colum[i])
    for j in range(len(div)):
        print(f"   P{div[j]}: " + str(percentil[j][i]))    
    print()

age
   P10: 28.0
   P90: 58.0

balance
   P10: 0.0
   P90: 3900.5

day
   P10: 4.0
   P90: 28.0

duration
   P10: 77.0
   P90: 838.0

campaign
   P10: 1.0
   P90: 5.0

pdays
   P10: -1.0
   P90: 191.0

previous
   P10: 0.0
   P90: 3.0